datasets
yt-dlp
tqdm
omegaconf
pyyaml
einops
tensorboard
torchvision
torch>=2.2.0
torchaudio>=2.2.0
peft<0.8.0,>=0.5.0
soundfile 
librosa
transformers==4.35.2
sentencepiece>=0.1.99
accelerate>=0.20.3
bitsandbytes>=0.35.0
gradio>=3.23.0